.trendingcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: auto;
    width: 80%;
    background-color:hsla(230, 5%, 92%, 1);
    border-radius: 2vw;
    margin-bottom: 4vh;
    margin-left: 3.5vw;
    
}
.data{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}
.data:hover{
    background-color: hsla(230, 2%, 82%, 1);
}

.lastbtn{
    color:rgb(8, 55, 209);
    width: 100%;
    height:5vh;
    padding: 0 10%;
}
.lastbtn:hover{
    background-color: hsla(230, 2%, 82%, 1);
}