.Main{
    margin: 10px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    min-height: 2.5rem;
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    width: 18rem;
    border-radius: 15px;
    color:var(--dynamic-text);
    background-color: rgba(255, 248, 248, 0.89);
}

.btn:hover{
    background-color: whitesmoke;
    opacity: 0.8;
}

.Toggled{
    gap: 1px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 18rem;
    border-radius: 12px;
    background-color: whitesmoke;
}

.Toggled>input{
    margin: 10px;
    width: 16rem;
    height: 2rem;
    padding-left: 3px;
    border: none;
}

.Toggled>input:focus{
    background-color: white;
    border:2px solid #3390FF;
    border-radius: 5px;
    outline: none;
}

.Toggled>div{
    width: 8rem;
    height: 2rem;
    margin: 10px;
    display: flex;
    align-items: center;
}

.buttonclose{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.buttonclose>button{    
    display: inline-block;
    outline: none;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: rgb(0, 82, 204);
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0px 12px;
    vertical-align: middle;
    width: auto;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.buttonclose>button:hover {
    background: rgb(0, 101, 255);
    text-decoration: inherit;
    transition-duration: 0s, 0.15s;
    color: rgb(255, 255, 255);
}