*{
    margin: 0px;
    padding: 0px;
}
.body{
    background-color: #3e65fe;
    display: flex;
    justify-content: center;
    
    
}
h1{
    font-size: 2.5vh;
}
.signuppage{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 35vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 245, 245);
    border-radius: 15px;
    margin: 5vh 0;
}
.signup1{
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}
h6{
    color: rgb(37, 37, 240);
    display: flex;
    width: 3rem;
    height: 2vh;
    border: 1px solid black;
    margin-right: 0;
    

}
/* .textfield{
   display: flex;
   border: 1px solid lightgray;
} */
.btnSignup{
    width: 70%;
    height: 10%;
    display: flex;
}