.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    color: white;
    background-color: black;
    background-color: hsla(12,28.7%,17.1%,0.4)
}

p{
    font-size: 14px;
}

.Part-1{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 12px;
    
}
.ListName p{
    padding: 3px 6px;
    font-size: 18px;
    cursor: pointer;
}
.ListName p:hover{
    background-color: hsla(0, 9%, 94%, 0.2);
    border-radius: 4px;
    border-radius: 3px;
}

.Star-icon{
    padding: 3px 6px;
    font-size: 18px;
    cursor: pointer;
    font-size: 10px;
}
.Star-icon:hover{
    background-color: hsla(0, 9%, 94%, 0.2);
    border-radius: 4px;
    border-radius: 3px;
}

.Visible p{
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.Visible p:hover{
    background-color: hsla(0, 9%, 94%, 0.2);
    border-radius: 4px;
    border-radius: 3px;
}

.Customize-views button{
    padding: 6px 12px;
    font-size: 14px;
    color: rgb(77, 76, 76);
    background-color:rgb(210, 218, 240);
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.Customize-views button:hover{
    background-color: white;
    
}

.Arrowdown{
    padding: 6px 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    
}
.Arrowdown:hover{
    background-color: hsla(0, 9%, 94%, 0.2);
    border-radius: 3px;
}

.Part-2{
    
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50vw;
    padding-right: 16px;
    gap: 7px;
}

.power-ups p{
    padding: 6px 12px;
    padding: 7px;
    cursor: pointer;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.power-ups p:hover{
    background-color: hsla(0, 9%, 94%, 0.2);
    border-radius: 3px;
}

.Automation p{
    padding-right: 12px;
    padding: 6px 12px;
    cursor: pointer;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.Automation p:hover{
    background-color: hsla(0, 9%, 94%, 0.2);

    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.Filter p{
    padding-right: 12px;
    padding: 6px 12px;
    cursor: pointer;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.Filter p:hover{
    background-color: hsla(0, 9%, 94%, 0.2);
    border-radius: 3px;
}
.User-info-button{
    padding-right: 12px;
    cursor: pointer;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}
.User-info-button button{
    height: 30px;
    width: 30px;
    border: 0px;
    border-radius: 50%;
    background-color: brown;
    cursor: pointer;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.Share button{
    padding: 6px 12px;
    font-size: 14px;
    background-color: rgb(235, 252, 252);
    color: rgb(77, 76, 76);
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.Share button:hover{
    background-color: white;
}

.manu-button {
    padding-right: 12px;
    padding: 3px 6px;
    font-size: 20px;
    cursor: pointer;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

}

.manu-button p:hover{
    background-color: hsla(0, 9%, 94%, 0.2);
    border-radius: 3px;
    
}


