@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  transition: .3s ease;
}
html{
  font-size: 90%;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.icon{
  font-size: var(--h2FontSize);
}
img{
  width:100%;
  height:auto;
}
.flex{
  display: flex;
  align-items:center ;
}
.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: .8rem 1rem;
  color:var(--textColor);
}
.btn .icon{
  margin-left: .5rem;
}
.btn:hover{
  background: var(--paleGreen);
  color: var(--PrimaryColor);
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}
.container{
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--bgColor);
  border-radius: 1 rem;
  box-shadow: 2px 2px 8px var(--greytext);
}
.grid{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
