*{
    margin-right: 0;
    /* font-size: 1rem; */
}
.followcontainer{
    height: auto;
    width: 25%;
    border: 1px solid;
    border-radius: 2vw;
   
    
}
.Profile{
display: flex;
height: 12vh;
width: 90%;
align-items: center;
border: 1px solid;
margin:2% 5%
}

.profileimg{
    display: flex;
    border: 2vw solid;
    border-width: 0.5vw;
    border-radius: 50%;
    height: 10vh;
    margin-left: .35vw;
    /* align-items: normal; */
}
.name{
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    font-size: 1.4rem;
    font-weight: bolder;
    
}